@import "../abstracts/variables";
@import "../abstracts/mixin";
@import "../abstracts/clases";

// estilos header

header{
    @include header;
    div{
        height: 15vh;
        h1{
            display: none;
        }
        img{
            @include headerimg
        }
    }
}

.subtitle-line{
    @include subtitle-line;
}

// estilos de barra de navegacion ---------------------------------------------------------
.navbar{
    @include navflex;
}

.navbar, .navbar-nav, .nav-link{
    @include barranav;
}
.navbar, .navbar-nav, .nav-link:hover{
    @include barrahover;
}
.ifhere{
    @include ifhere;
}
.navcolor{
    @include colornav;
}
.navbar-brand{
    @include brand-navbar
}
.navbar-brand:hover{
    @include brand-navbarhover;
}
.nav-link, .navbar-brand{
    @include colornav;
}
.navbar-toggler-icon{
    @include burger;
}


// estilos main -----------------------------------------
// noneo mobile
.index{
    max-width: 95%;
    margin-top: 20px;
    margin: 5% auto;
    display: flex;
    gap: 10px;
    padding: 10px;
    color: whitesmoke;
    border-bottom: 1px solid white;
    img{
        width: 50%;
        height: 80%;
        border-radius: 5px;
    }
}

.sucursales{
    @include sucursales;
    a{
        text-decoration: underline;
        color: goldenrod;    
    }
}
// estilos footer
footer{
    margin-bottom: 5px;
}

// -------------------------menu------------------------------

.sectionmenu{
    h2{
        color: white;
        margin-top: 20px;
        text-align: center;
        text-decoration: underline;
    }
}

.menuselah{
    @include grid (grid, repeat(2, 1fr), repeat(2, 1fr), 30px);
    color: white;
}

.prod{
    @include prod;
    img{
        @include img;
        border-radius: 10px;
    }
    justify-content: space-around;
}

// boxes
.tituloselah, .quienes, .soy{
    @include boxes;
}


.tituloselah h1, .quienes{
    text-decoration: underline;
    text-align: center;
}
.parrafo{
    @include parrafo;
    text-align: center;
}
.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.sobrecontenedor{
    justify-content: center;
    text-align: center;
}
.nosotros{
    a{
        text-decoration: none;
        color: grey
    }
}

.redesnosotros{
    @include redesflex;
    a{
        text-decoration: none;
    }
}
.redesnosotros:hover{
    background-color: grey;
    color: black;
    border-radius: 10px;
}

footer{
    @include footer;
    a{
        color: #999;
        text-decoration: none;
        margin-bottom: 20px;
        margin: 10px;
        padding: 5px;
     }
     div{
        margin-top: 10vh;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
     }
}
.soy{
    @include soy;
    height: fit-content;
    a{
        text-decoration: none;
        color: antiquewhite;    }
}
.imagenes{
    @include imagenes;
}

// agregados de index
.atajos{
    text-align: center;
    margin-bottom: 30px;
    justify-items: center;
}
.link-atajos{
    background-color: grey;
    justify-content: center;
    width: fit-content;
    padding: 5px;
    margin: 40px;
    border-radius: 10px;
    a{
        color: goldenrod;
        text-decoration: none;
    }
    img{
        display: none;
    }
}

.link-atajos:hover{
    padding: 15px;
    transition: 0.5s;
    transition-duration: 0.5s;
    
}

