@media screen and (min-width: 1024px){
    
    header{
        height: 20vh;
    }
    header .logo{
        height: 20vh;
    }
    .index{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
        img{
            height: 300px;
            width: 300px;
        }
        justify-content: space-between;
    }

        footer{
            margin-top: 5px;
        }
        .menuselah{
            @include grid(grid, repeat(4, 1fr), 1fr, 10px);
            justify-content: space-around;
            padding: 10px;
        }
    
        .soy{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column: span 1;
    
        }
    
        .redesnosotros{
            border: double 4px rgb(132, 101, 21);
            padding: 5px;
        }
    
    
        .suc{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 10vh;
        }
    
        .sucursales{
            gap: 20px;
        }
    
        .maps{
            height: 300px;
            width: 450px;
        }
    
        .unite{
            display: flex;
            justify-content: center;
        }
    } 
    