@media screen and (min-width: 1024px){
    
    header{
        height: 20vh;
    }
    header .logo{
        height: 20vh;
    }
    .init{
        display: flex;
        text-align: center;
        align-content: center;
    }
    .index{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin: 5% auto;
        gap: 5px;
        padding: 5px;
        color: rgba(245, 245, 245, 0.7);
        img{
            width: 60%;
            height: 60%;
            border-radius: 5px;
        }
    }

        footer{
            margin-top: 5px;
        }
        .menuselah{
            @include grid(grid, repeat(4, 1fr), 1fr, 10px);
            justify-content: space-around;
            padding: 10px;
        }
        .tituloselah{
            text-align: center;
        }
        .quienes{
            text-align: center;
        }
        .contenedor{
            gap: 10px;
                align-items: center;
                img{
                    border-radius: 100px;
                }
        }
        .sobrecontenedor{
            text-align: center;
        }
    
        .soy{
            display: flex;
            flex-direction: column;
        }

        .suc{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 10vh;
        }
    
        .sucursales{
            gap: 20px;
        }
    
        .maps{
            height: 300px;
            width: 450px;
        }
    
        .unite{
            display: flex;
            justify-content: center;
        }
        .link-atajos{
            img{
                display: inline;
            }
        }
    } 
    